.learn-more {
  background-color: #73879B!important;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  font-weight: 300;  
  font-size: 4vw;
  text-align: left;
}

.learn-header {
  text-transform: uppercase;
  font-weight: 300;
}

.learn-subtitle {

}

.learn-body {

}

.learn-link {
  
}