* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.drawer{
  background-color: #73879B!important;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  font-weight: 300;  
  font-size: 4vw;
  text-align: right;
}

.name {
  font-size: 4vw!important;
}

.nav-item {
  padding-top: 1vw;
}

.nav-link {
  font-size: 3vw!important;
  text-transform: uppercase;  
}

.transparent {
  opacity: 0;
}

/* descriptions */

.description {
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  font-weight: 300;
  text-align: left;
}

.description-header {
  font-size: 4vw;
  background: radial-gradient(#FFBA44 ,#F9AA20);
  text-transform: uppercase;  
  padding: 1vw;
}

.description-body {
  font-size: 2vw;
  padding: 1vw;
  padding-left: 1.5vw;
}

.pros-and-cons {
  font-weight: 500;
}

@media (min-width: 768px) { 
  .name {
    font-size: 30px!important;
  }
}