* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* main component */

.chatterbot-component {
  font-weight: 300!important;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  text-align: center;
  height: 100%;
}

/* messages */

.chat-thread {
  padding: 0 7vw 5vw 7vw;
  font-size: 4vw;
  color: #3A3A37;
  height: 75%;
  overflow: auto;
}

.user-message {
  text-align: right;
  padding: 3vw;
  border-bottom: 0.5px solid rgba(255, 186, 68, .7)
}

.bot-message {
  text-align: left;
  padding: 3vw;
  border-bottom: 0.5px solid rgba(255, 186, 68, .7)
}

.sender-bubble {
  padding: 2vw;
}

@media (min-width: 600px) {
  .chat-thread {
    max-width: 600px;
    padding: 0 15px 0 0;
    margin: auto;
    display: block;
  }
  .bot-message {
    padding: 0;
  }
  .user-message {
    padding: 0;
  }
  .sender-bubble{
    font-size: 22px;
    padding: 20px;
  }
}

@media (min-width: 100px) {
  .chat-thread {
    max-width: 1000px;
  }
}

/* user submit */

.user-input-wrapper {
  padding: 5vw 0 ;
}

.user-input-wrapper .user-input {
  padding: 3vw;
  font-weight: 300!important;
  font-size: 5vw;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;    
}

.user-input-wrapper .user-input:focus{
  border: 1px solid rgba(255, 186, 68, .7)!important;
  outline: none;
}

@media (min-width: 600px) {
  .user-input-wrapper .user-input {
    font-size: 22px;
    padding: 15px;
  }
}