* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.chatterbot-component {
  font-weight: 300;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  text-align: center;
}

.chat-thread {
  padding-top: 7vw;
  font-size: 4vw;
}

.user-message {
  text-align: right;
}

.bot-message {
  text-align: left;
}