/* CSS Document */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* LOGIN FORM CSS */
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


.modal-body {
  padding: 0px;
}

.login_container {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  width: 500px;
  height: 400px;
  margin: 0;
}

.login_a {
  color: #eee;
  text-decoration: none;
}

.login_a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

.login_p {
  line-height: 1.5em;
  width: 500px;
  margin: auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}


/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  margin-left: 100px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="button"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
  margin-left: 100px;
}

#login form input[type="button"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

.modal-content {
  width: 310px;
}

#login-fields {
  margin-top: 30px;
}

/* close button css*/
.close-button {
	size: 50px;
	height: 50px;
  width: 50px;
  position: relative;
	box-sizing: border-box;
	line-height: 50px;
	display: inline-block;
}

.close-button:before, .close-button:after {
	width: 50px;
	height: 10px;
	transform: rotate(-45deg);
	content: '';
	position: absolute;
	top: 50%;
	left: 25%;
	margin-top: -10px/2;
	margin-left: -50px/2;
	display: block;
	height: 10px;
	width: 50px;
	background-color: #fff;
	transition: all 0.2s ease-out;
}

.close-button:after {
	transform: rotate(45deg);
}


.close-button:hover:before,
.close-button:hover:after {
		transform: rotate(0deg);
}

