* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.drawer{
  background-color: #73879B!important;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  font-weight: 300;  
  font-size: 4vw;
  text-align: right;
}

.nav-item {
  padding-top: 1vw;
}

.transparent {
  opacity: 0;
}

/* .card {
  font-weight: 300;
  font-size: 35vw;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  line-height: 10vw;
  text-align: center;
  padding: 5vw 5vw 0 5vw;
}

.card-header {
  display: block;
  padding: 2vw;
  padding-left: 3vw;
  width: auto 90vw;
  height: 2.5em;
  background: radial-gradient(#FFBA44 ,#F9AA20);
  color: #F6F7EB;
  text-transform: uppercase;
  font-size: 08vw;
  line-height: 1em;
  cursor: pointer;
}

.card-block {
  display: block;
  padding-left: 3em;
  width: 40vw;
  background: #E2E2D7;
}

.hidden{
  visibility: hidden;
}

.show {
  visibility: visible;
} */