* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.mushroom-card {
  font-weight: 300;
  font-size: 35vw;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  line-height: 10vw;
  text-align: center;
  padding: 3vw 6vw
}

.Select-placeholder {
  line-height: 10vw!important;
}

.mushroom-card-header {
  display: block;
  padding-top: 2vw;
  padding-right: 4vw;
  padding-left: 4vw;
  width: auto 90vw;
  height: 2.5em;
  background: radial-gradient(#FFBA44 ,#F9AA20);
  color: #F6F7EB;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: 1em;
  cursor: pointer;
}

.mushroom-card-block {
  display: block;
  font-size: 3vw;
  background: #E2E2D7;
}

.hidden{
  display: none;
}

.show {
  display: visible;
}