* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* mushroom card and header */

.mushroom-card {
  font-weight: 300;
  font-size: 35vw;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
  line-height: 10vw;
  text-align: center;
  padding: 3vw 6vw 0vw 6vw;
}

.mushroom-card-header {
  margin: auto;
  display: block;
  padding-top: 0.5vw;
  padding-right: 4vw;
  padding-left: 4vw;
  font-weight: 300!important;
  height: 17vw;
  background: radial-gradient(#FFBA44 ,#F9AA20);
  color: #F6F7EB;
  text-transform: uppercase;
  font-size: 7vw;
  cursor: pointer;
}

.mushroom {
  margin: auto;
  display: block;
}

@media (min-width: 768px) { 
  .mushroom-card-header {
    font-size: 54px;
    width: 660px;
    height: 140px;
  }
}

/* mushroom selector */

.Select-placeholder {
  line-height: 12vw!important;
}

.mushroom-card-block {
  margin: auto;
  display: block;
  font-size: 3vw;
  background: #E2E2D7;
}

.hidden{
  display: none;
}

.show {
  visibility: visible;
}