.housing {
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
  background: linear-gradient(to bottom right, #E2E2D7, #F6F7EB); 
  height: 100vw;
}

.sidebar {
  color: #73879B;
  background: radial-gradient(#FFBA44 ,#F9AA20);
  font-size: 1vw;
  display: inline-block;
  float: left;
  width: 20vw;
}

.title {
  color: white;
  font-size: 1.75vw;
  text-align: center;
  padding: 0.5vw;
}

.option {
  background: linear-gradient(to bottom right, #E2E2D7, #F6F7EB); 
  padding: 0.5vw 0 0.5vw 0;
  margin: 0.5vw;
  box-shadow: 1px 1px 1px #73879B, 0px 0px 1px #E2E2D7;
}

.optiontitle {
  text-align: center;
  margin-bottom: 0.5vw;
}
  
.sliderholder {
  margin-left: 2vw;
  margin-right: 2.5vw;
  margin-bottom: 0.5vw;
}

.numholder {
  display: block;
}

.firstnum, .secondnum {
  font-size: 0.9vw;
  margin-bottom: 0.3vw;
}

.firstnum {
  margin-left: 1vw;
  float:left;
}

.secondnum {
  margin-right: 1vw;
  display: inline;
  float: right;
}
*:focus {
  outline: none;
}
  
input[type=range] {
  display: block;
  width: 15vw;
  clear: both;
  background-color: white;
  border-radius: 10vw;
  height: 1vw;
  margin-bottom: 1vw;
  box-shadow: 0.1vw 0.1vw 0.1vw #73879B, 0vw 0vw 0.1vw #E2E2D7;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1vw;
  height: 2vw;
  border-radius: 0.3vw;
  cursor: pointer;
  background-color: #FFBA44;
  box-shadow: 0.1vw 0.1vw 0.1vw #73879B, 0vw 0vw 0.1vw #E2E2D7;
}

input[type=range]::-moz-range-thumb {
  width: 1vw;
  height: 2vw;
  border-radius: 0.3vw;
  cursor: pointer;
  background-color: #FFBA44;
  box-shadow: 0.1vw 0.1vw 0.1vw #73879B, 0vw 0vw 0.1vw #E2E2D7;
}

input[type=range]::-ms-thumb {
  width: 1vw;
  height: 2vw;
  border-radius: 0.3vw;
  cursor: pointer;
  background-color: #FFBA44;
  box-shadow: 0.1vw 0.1vw 0.1vw #73879B, 0vw 0vw 0.1vw #E2E2D7;
}

.currentselection {
  clear: left;
  display: block;
  text-align: center;
}

.mapholder {
  margin: 1vw;
  display: inline-block;
  float: left;
  width: 70vw;
}

.housing-btn { 
  font-size: 0.5vw;
  background: linear-gradient(to bottom right, #E2E2D7, #F6F7EB); 
  height: 3vw;
  margin: 0.3vw 0.3vw 0.3vw 5vw;
  padding: 0.5vw;
  text-align: center;
  width: 10vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  text-decoration: none;
  box-shadow: 0.15vw 0.15vw 0.15vw #73879B, 0vw 0vw 0.15vw #E2E2D7;
  user-select: none;
}
.housing-btn:active { 
  box-shadow: none;
  background: white;
}

.currentprediction {
  color: white;
  font-size: 1.2vw;
  text-align: center;
  margin-bottom: 1vw;
}

.mapheader {
  height: 10vw;
  padding: 1.3vw;
  text-align: center;
  margin-left: 1vw;
  font-size: 2vw;
}

