.option {
  margin: 0.2vw;
}

.sliderholder {
}

.numholder {
  display: block;
}

.firstnum {
  float:left;
}

.secondnum {
  display: inline;
  float: right;
}

input[type=range] {
  clear: both;
}

.currentselection {
  clear: left;
  display: block;
}

.slider {
  background-color: blue;
  border-radius: 10px;
}

.sidebar {
  font-size: 1vw;
  display: inline-block;
  float: left;
  width: 24vw;
  border-right: 1px solid black;
}

.mapholder {
  margin: 1vw;
  display: inline-block;
  float: left;
  width: 70vw;
}
