.slider {
  background-color: blue;
  max-width: 200px;
  border-radius: 10px;
  display: inline;
}

input[type=range] {
  display: inline-block;
}

.sidebar {
  display: inline-block;
  float: left;
  width:20%;
}

.mapholder {
  display: inline-block;
  float: left;
  width:70%;
}
