.option {
  margin: 0.2vw;
}

input[type=range] {
  display: inline-block;
  width: 14vw;
}

.sliderholder {
  padding: 1vw;
  width: 23vw;
  margin: auto;
}

.slider {
  background-color: blue;
  border-radius: 10px;
  display: inline;
}

.sidebar {
  font-size: 1vw;
  display: inline-block;
  float: left;
  width: 24vw;
  border-right: 1px solid black;
}

.mapholder {
  margin: 1vw;
  display: inline-block;
  float: left;
  width: 70vw;
}
