.model-container .wrapper label {
  width: 200px;
  height: 200px;
  background: #92b2cd;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}

.model-container .wrapper label a {
  border: solid #e4bb36;
  padding: 5px;
  border-radius: 3px;
}

.model-container .wrapper label span {
  color: white;
  font-size: 13px;
  position: relative;
  top: 10px;
}

.model-container .wrapper input[type='checkbox']:checked + label a, .model-container .wrapper input[type='checkbox']:checked + label p {
  display: block;
}

.model-container .wrapper input[type='checkbox']:checked + label {
  left: 0;
  transform: scale(3.33);
  z-index: 122221;
  transition-duration: 0.1s;
  position: relative;
  transition-property: transform;
  top: 0;
  background: #5d85a1;
}

.model-container .wrapper input[type='checkbox']:not(:checked) + label {
  transform: scale(1);
  transition-duration: 0.1s;
  transition-property: transform;
}
.model-container .wrapper label:nth-of-type(1) {
  transform-origin: 0% 0%;
}


.model-container .wrapper .circle {
  visibility: visible;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 100%;
  opacity: 0.3;
  margin: 60px auto 30px auto;
  -webkit-animation: circle 1s infinite;
  /* Chrome, Safari, Opera */
  animation: circle 1s infinite;
}

/* Animations */
@-webkit-keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
