.user-settings-form {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove;
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.user-settings-legend {
  width: unset;
}

.user-settings-form:hover {
  background: blanchedalmond;
}

.form-input {
  margin-bottom: .3%;
}

.form-input input {
  border: solid 1px;
}

input#old-pw-input {
  background: white;
}

input#new-pw-input {
  background: white;
}

input#confirm-pw-input {
  background: white;
}