.titler {
  color: white!important;
}

.mnist { 
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
  height: 100%;
}

.mnist-title {
  text-align: center;
  font-size: 2.75vw;
  margin-left: 1vw;
}

.inner-mnist {
  position: absolute;
  left: 29vw;
}

.drawable {
 	background-image: url("./mnist-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
 	width: 37vw;
 	height: 37vw;
}

.mnist-btn { 
  font-size: 1.2vw;
  background: linear-gradient(to bottom right, #E2E2D7, #F6F7EB); 
  height: 3vw;
  margin: 0.5vw 0.3vw 0.3vw 6.2vw;
  padding: 0.5vw;
  text-align: center;
  width: 25vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  text-decoration: none;
  box-shadow: 0.15vw 0.15vw 0.15vw #73879B, 0vw 0vw 0.15vw #E2E2D7;
  user-select: none;
}

.mnist-btn:active {
  border: 0.1vw solid grey;
  box-shadow: none;
}

.mnist-pred {
  text-align: center;
  font-size: 1.2vw;
  margin: 1vw 0 1vw 1vw;
} 


@media (max-width: 1024px) {
  .drawable {
    width: 90vw;
    height: 90vw;
  }
  .mnist-title {
    font-size: 4vw;
    margin-top: 2vw;
    margin-left: 2vw;
  }
  .inner-mnist {
    left: 0;
    margin-left: 5vw;
  }
  .mnist-btn {
    padding-top: 1.3vw;
    margin-left: 15vw;
    margin-top: 1.5vw;
    font-size: 3vw;
    width: 60vw;
    height: 7vw;
  }
  .mnist-pred {
    font-size: 3vw;
    margin-top: 2vw;
    margin-left: 2vw;
  }
}
